<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Education &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/design/css/index.css" />


	<!-- Animate.css -->
	<link rel="stylesheet" href="/design/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/design/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/design/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/design/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	{{!--
	<link rel="stylesheet" href="/design/css/owl.carousel.min.css"> --}}
	<link rel="stylesheet" href="/design/css/owl.theme.default.min.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/design/css/flexslider.css">

	<!-- Pricing -->
	<link rel="stylesheet" href="/design/css/pricing.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/design/css/style.css">

	<!-- Modernizr JS -->
	<script src="/design/js/modernizr-2.6.2.min.js"></script>


	<link rel="stylesheet" href="/design/css/dropdown.css" />
	{{{_sections.css}}}
</head>

<body>


	<div class="fh5co-loader"></div>

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-right">
							<p class="site">www.OnlineAcademy.com</p>
							<p class="num">Call: +84 123 456 789</p>
							<ul class="fh5co-social">
								<li><a href="#"><i class="icon-facebook2"></i></a></li>
								<li><a href="#"><i class="icon-twitter2"></i></a></li>
								<li><a href="#"><i class="icon-dribbble2"></i></a></li>
								<li><a href="#"><i class="icon-github"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="row mt-4 w-100 mx-auto">
					<div class="col-3">
						<div id="fh5co-logo" class="ml-5"><a href="/"><i class="icon-study"></i>
								Academy<span></span></a></div>
					</div>
					<div class="col-4">
						<div>
							<form action="/search/list" method="POST" id="frmSearch">
								<input type="text" class="searchTerm w-100" placeholder="What are you searching for?"
									id="txtSearch" name="searchText">
								<button type="submit" class="searchButton"><i class="icon-search3"></i></button>
							</form>
						</div>
					</div>
					<div class="col-5 menu-1 w-100 row">
						<ul class="ml-5">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">Courses</a>
								<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
									{{#each MainCategories}} {{! MainCategories: Categories}}
									<li class="dropdown-submenu">
										<a href="#" class="dropdown-item" data-toggle="dropdown">{{Name}}</a>
										<ul class="dropdown-menu">
											{{#each ../lcCategories}} {{! lcCategories: subCategories}}
											<li><a href="/courses/bySubCat/{{SubCategoryID}}">{{Name}}</a></li>
											{{/each}}
										</ul>
									</li>
									{{/each}}
								</ul>
							</li>




							{{#is authUser.permission 1}}
							<li><a href="/course/storage/paidCourse">My learnings </a></li>
							{{/is}}


							{{#is authUser.permission 2}}
							<li><a href="/course/storage/myCourse">My courses </a></li>
							<!--chua co trang nay-->
							{{/is}}


							<a href="/cart" style="color: gray;">
								<li class="icon-shopping-cart fa-lg mr-4 "></li>
							</a>


							{{#if auth}}
							<a href="/course/storage/wishlist" style="color: pink;">
								<li class="icon-heart-outline fa-lg"></li>
							</a>
							<li class="has-dropdown">
								<a href="#" style="font-size: larger;">
									<i class="fa fa-user mb-2" aria-hidden="true"></i>
									{{authUser.username}}
								</a>
								<ul class="dropdown">
									<li><a href="/user/profile/{{authUser.username}}">Profile</a></li>
									<form id="frmLogout" action="/account/logout" method="POST"></form>
									<li><a href="javascript: $('#frmLogout').submit();">Sign out</a></li>
								</ul>
							</li>
							{{else}}

							<a href="/account/login"><button type="button"
									class="btn btn-outline-info border rounded">Login</button></a>
							<a href="/account/register"><button type="button" class="btn btn-info rounded">Sign
									up</button></a>
							{{/if}}

						</ul>
						{{!--
						<li><a href="/contact">Contact</a></li>
						{{#if auth}}
						<li class="nav-item">
							<a class="nav-link" href="/cart">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>
								Shopping cart: {{cartSummary}} item(s)
							</a>
						</li>

						{{else}}
						<li class="btn-cta"><a href="account/login"><span>Login</span></a></li>
						<li class="btn-cta"><a href="account/register"><span>Create Account</span></a></li>
						{{/if}}
						</ul> --}}
					</div>
				</div>

			</div>
		</nav>

		<div class='mx-auto'>
			{{{body}}}
		</div>

		<div>
			<footer id="fh5co-footer" role="contentinfo" style="background-image: url(views/layouts/bs4.hbs);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row row-pb-md">
						<div class="col-md-3 fh5co-widget">
							<h3>About Education</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque
								dicta
								adipisci architecto culpa amet.</p>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
							<h3>Learning</h3>
							<ul class="fh5co-footer-links">
								<li><a href="#">Course</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Terms</a></li>
								<li><a href="#">Meetups</a></li>
							</ul>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
							<h3>Learn &amp; Grow</h3>
							<ul class="fh5co-footer-links">
								<li><a href="#">Blog</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Testimonials</a></li>
								<li><a href="#">Handbook</a></li>
								<li><a href="#">Held Desk</a></li>
							</ul>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
							<h3>Engage us</h3>
							<ul class="fh5co-footer-links">
								<li><a href="#">Marketing</a></li>
								<li><a href="#">Visual Assistant</a></li>
								<li><a href="#">System Analysis</a></li>
								<li><a href="#">Advertise</a></li>
							</ul>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
							<h3>Legal</h3>
							<ul class="fh5co-footer-links">
								<li><a href="#">Find Designers</a></li>
								<li><a href="#">Find Developers</a></li>
								<li><a href="#">Teams</a></li>
								<li><a href="#">Advertise</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</div>
					</div>

					<div class="row copyright">
						<div class="col-md-12 text-center">
							<p>
								<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
								<small class="block">Designed by <a href="http://freehtml5.co/"
										target="_blank">FreeHTML5.co</a>
									Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> &amp; <a
										href="https://www.pexels.com/" target="_blank">Pexels</a></small>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/design/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/design/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/design/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/design/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/design/js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="/design/js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="/design/js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="/design/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/design/js/jquery.magnific-popup.min.js"></script>
	<script src="/design/js/magnific-popup-options.js"></script>
	<!-- Count Down -->
	<script src="/design/js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="/design/js/main.js"></script>
	<script>
		var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

		// default example
		simplyCountdown('.simply-countdown-one', {
			year: d.getFullYear(),
			month: d.getMonth() + 1,
			day: d.getDate()
		});

		//jQuery example
		$('#simply-countdown-losange').simplyCountdown({
			year: d.getFullYear(),
			month: d.getMonth() + 1,
			day: d.getDate(),
			enableUtc: false
		});
	</script>
	{{{_sections.js}}}

</body>

</html>